<meta charset="UTF-8">
<title>{{#if title}}{{title}}{{else}}Examples{{/if}}</title>
<meta name="viewport" content="user-scalable=no,initial-scale = 1.0,maximum-scale = 1.0">
<link rel="stylesheet" href="{{assets}}/css/demo.autoprefixed.css">

{{#if styles}}<link rel="stylesheet" href="../../{{styles}}">{{/if}}

<!-- Vendor Libs -->
<script src="{{assets}}/js/jquery.min.js"></script>
Header